# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

data.bin
data.bmp
main

data008.bin
data009.bin
data010.bin
data011.bin
data012.bin
data013.bin
data014.bin
data015.bin
data016.bin
data017.bin
data018.bin
data019.bin
data020.bin
data021.bin
data022.bin
data023.bin
data024.bin
test.bin

actor.json

model083_2.ac

